@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.pay-btn {
  @apply bg-gray-200 rounded-md py-3 text-black text-sm font-medium hover:bg-purple-200 transition cursor-pointer;
}

/* Scrollbar */
.scroll-transparent {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0,0,0,0.3) transparent; /* Firefox */
}

/* Chrome, Edge, WebKit */
.scroll-transparent::-webkit-scrollbar {
  width: 8px;
  background: transparent; 
}

.scroll-transparent::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-transparent::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); 
  border-radius: 10px;
}

.scroll-transparent::-webkit-scrollbar-button {
  background: transparent;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
